<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Tickets Purchase Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
    </head>

    <body>

        <header>
            <h1 style="color: navy;" class=""><center><u>Home Page<br/></u></center></h1>
            <nav>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout" style="color: Crimson;"><b>Signout</b></a>
                    </li>
                </ul>
            </nav>
            <hr/>
        </header>

        <main th:object="${user}">
            <a class="btn btn-primary" href="/viewProfile" role="button">View Profile</a>
            <a class="btn btn-primary" href="/updateProfile" role="button">Update Profile</a>
            <a class="btn btn-primary" href="/events" role="button">All Active Events</a>
            <a class="btn btn-primary" href="/eventsBy" role="button">Find Event By</a>
            <a class="btn btn-primary" href="/user/transaction" role="button">View Transaction</a>
            <a class="btn btn-primary" href="/createEvent" role="button">Create New Event</a>
<!--            <a class="btn btn-primary" href="#" role="button">Purchase Tickets</a>-->
            <a class="btn btn-primary" href="/user/tickets" role="button">Transfer Tickets</a>
            <hr/>
            <h3 style="color: SlateBlue;" >Hello, <span th:text="${user.userName}"></span>!</h3>
            <p><center><b>Your upcoming events are...</b></center></p>
<!--            Show list of all the tickets belonging to the user with user_email_id.-->
            <span>
                <table class="table table-bordered border-primary caption-top">
                    <thead>
                    <caption style="color: navy;"><center><b><span th:text="${tableCaption}"></span></b></center></caption>
                        <tr style="color: SteelBlue;">
                            <th width="5%"><center>Event Id</center></th>
                            <th width="30"><center>Event Name</center></th>
                            <th width="25"><center>Event Date</center></th>
                            <th width="30%"><center>Event Categories</center></th>
                            <th width="10%"><center>Total Tickets</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${upcomingEventList.empty}">
                            <td colspan="5"><center>No Upcoming Events</center></td>
                        </tr>
                        <tr th:unless= "${upcomingEventList.empty}" th:each="upcomingEvent : ${upcomingEventList}">
                            <td><center><span th:text="${upcomingEvent.event.eventId}"></span></center></td>
                            <td><center><span th:text="${upcomingEvent.event.eventName}"></span></center></td>
                            <td><center><span th:text="${upcomingEvent.event.eventDate}"></span></center></td>
                            <td><center><span th:text="${upcomingEvent.event.eventCategories}"></span></center></td>
                            <td><center><span th:text="${upcomingEvent.totalTickets}"></span></center></td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </main>

    </body>

</html>